apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-thpcvyru
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-thpcvyru:3d2094090f276513ec88235b77fbbc3a5765150a@sha256:e7a44d9fdb0fc996970c411efb3f1db9b27e22189a76e436a90f0de6147d251b
          name: container-image
